---

---

<div class="bg-stone-300">
  <div class="mx-auto max-w-7xl py-24 font-serif">
    <div class="text-center">
      <h1 class="font-semibold text-5xl text-balance text-stone-700">
        todo lo que necesitas
      </h1>
    </div>

    <section class="flex items-stretch justify-center pt-8">
      <div class="container">
        <img
          class="hover:origin-center hover:rotate-15"
          src="/public/capsula-original-classic.webp"
          alt="bag item capsulas"
        />
        <p class="py-2 text-center font-semibold text-2xl text-stone-700">
          Cápsulas
        </p>
      </div>
      <div class="container">
        <img
          class="hover:origin-center hover:rotate-15"
          src="/public/original-classic-grano.webp"
          alt="bag item grano"
        />
        <p class="py-2 text-center font-semibold text-2xl text-stone-700">
          Café en grano
        </p>
      </div>
      <div class="container">
        <img
          class="hover:origin-center hover:rotate-15"
          src="/public/specialty-beany-molido.webp"
          alt="bag item molido"
        />
        <p class="py-2 text-center font-semibold text-2xl text-stone-700">
          Café molido
        </p>
      </div>
      <div class="container">
        <img
          class="hover:origin-center hover:rotate-15"
          src="/public/pack-capsulas.webp"
          alt="bag item pack"
        />
        <p class="py-2 text-center font-semibold text-2xl text-stone-700">
          Packs
        </p>
      </div>
      <div class="container">
        <img
          class="hover:origin-center hover:rotate-15"
          src="/public/beany-mug.webp"
          alt="bag item accesorios"
        />
        <p class="py-2 text-center font-semibold text-2xl text-stone-700">
          Accesorios
        </p>
      </div>
    </section>
  </div>
</div>
