---
const title = "todo lo que necesitas";
const items = [
  {
    src: "/capsula-original-classic.webp",
    alt: "bag item capsulas",
    text: "Cápsulas",
  },
  {
    src: "/original-classic-grano.webp",
    alt: "bag item grano",
    text: "Café en grano",
  },
  {
    src: "/specialty-beany-molido.webp",
    alt: "bag item molido",
    text: "Café molido",
  },
  {
    src: "/pack-capsulas.webp",
    alt: "bag item pack",
    text: "Packs",
  },
  {
    src: "/beany-mug.webp",
    alt: "bag item accesorios",
    text: "Accesorios",
  },
];
---

<div class="bg-stone-300">
  <div class="mx-auto max-w-7xl py-24 ">
    <div class="text-center">
      <h1 class="font-semibold text-5xl text-balance text-stone-700">
        {title}
      </h1>
    </div>
    <section class="flex items-stretch justify-center pt-8">
      {
        items.map((item) => (
          <div class="container">
            <img
              class="hover:origin-center hover:rotate-15 duration-400"
              src={item.src}
              alt={item.alt}
            />
            <p class="py-2 text-center font-semibold text-2xl text-stone-700">
              {item.text}
            </p>
          </div>
        ))
      }
    </section>
  </div>
</div>
