---

---

<div class="mx-auto max-w-7xl py-24 font-serif">
  <div class="text-center">
    <h1 class="font-semibold text-5xl text-balance text-stone-700">
      Café molido y en grano
    </h1>
    <section class="flex">
      <div class="flex-auto">
        <img class="hover:scale-110 hover:transition-transform" src="/public/bag-specialty-grano.webp" alt="bag item grano" />
        <h2 class="font-semibold text-4xl text-stone-700">
          Specialty beany grano
        </h2>
        <p class="font-semibold text-2xl text-stone-700">$ 14,00</p>
      </div>
      <div class="flex-auto">
        <img class="hover:scale-110 hover:transition-transform" src="/public/bag-specialty-molido.webp" alt="bag item molido" />
        <h2 class="font-semibold text-4xl text-stone-700">
          Specialty beany molido
        </h2>
        <p class="font-semibold text-2xl text-stone-700">$ 14,00</p>
      </div>
    </section>
  </div>
</div>
