---

---

<div class="bg-stone-100">
  <div class="mx-auto max-w-7xl py-24 font-serif">
    <div class="text-center">
      <h1 class="font-semibold text-5xl text-balance text-stone-700">
        café en cápsulas
      </h1>
      <section class="flex flex-wrap justify-center">
        <div class="basis-md">
          <img
            class="hover:scale-105 hover:transition-transform"
            src="/public/capsule-original.webp"
            alt="capsule item original"
          />
          <h2 class="font-semibold text-4xl text-stone-700">
            Original Classic
          </h2>
          <p class="font-semibold text-2xl text-stone-700">$ 8,50</p>
        </div>
        <div class="basis-md">
          <img
            class="hover:scale-105 hover:transition-transform"
            src="/public/capsule-working.webp"
            alt="capsule item working"
          />
          <h2 class="font-semibold text-4xl text-stone-700">Working Beany</h2>
          <p class="font-semibold text-2xl text-stone-700">$ 8,50</p>
        </div>
        <div class="basis-md">
          <img
            class="hover:scale-105 hover:transition-transform"
            src="/public/capsule-colombia.webp"
            alt="capsule item colombia"
          />
          <h2 class="font-semibold text-4xl text-stone-700">Colombia</h2>
          <p class="font-semibold text-2xl text-stone-700">$ 8,50</p>
        </div>
        <div class="basis-md">
          <img
            class="hover:scale-105 hover:transition-transform"
            src="/public/capsule-cloudy.webp"
            alt="capsule item cloudy"
          />
          <h2 class="font-semibold text-4xl text-stone-700">Cloudy Beany</h2>
          <p class="font-semibold text-2xl text-stone-700">$ 8,50</p>
        </div>
      </section>
    </div>
  </div>
</div>
