---
const links = [
  { name: "café en cápsulas", url: "/collections/capsules" },
  { name: "café en grano", url: "/collections/coffee-beans" },
  { name: "café molido", url: "/collections/ground-coffee" },
  { name: "packs", url: "#packs" },
  { name: "accesorios", url: "/collections/accesories" },
];
---

<nav class="bg-stone-500">
  <div class="mx-auto max-w-7xl px-2">
    <div class="flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-8">
            <a href="/">
                <img class="h-12 w-auto" src="/logo.svg" alt="Logo" />
            </a>
            {
              links.map((link) => (
                <a
                  href={link.url}
                  class="rounded-md hover:bg-stone-700 px-3 py-2 text-2xl font-light text-stone-200 hover:text-white"
                >
                  {link.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
