---
const links = [
  { name: "Café en cápsulas", url: "#" },
  { name: "Café en grano", url: "#" },
  { name: "Café molido", url: "#" },
  { name: "Packs", url: "#" },
  { name: "Accesorios", url: "#" },
];
---

<nav class="bg-stone-500 font-serif">
  <div class="mx-auto max-w-7xl px-2">
    <div class="flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            {
              links.map((link) => (
                <a
                  href={link.url}
                  class="rounded-md hover:bg-stone-700 px-3 py-2 text-md font-bold text-stone-200 hover:text-white"
                >
                  {link.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
