---

---

<nav class="bg-stone-500 font-serif">
  <div class="mx-auto max-w-7xl px-2">
    <div class="flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              href="#"
              class="rounded-md hover:bg-stone-700 px-3 py-2 text-md font-bold text-stone-200 hover:text-white"
              >Café en cápsulas</a
            >
            <a
              href="#"
              class="rounded-md hover:bg-stone-700 px-3 py-2 text-md font-bold text-stone-200 hover:text-white"
              >Café en grano</a
            >
            <a
              href="#"
              class="rounded-md hover:bg-stone-700 px-3 py-2 text-md font-bold text-stone-200 hover:text-white"
              >Café molido</a
            >
            <a
              href="#"
              class="rounded-md hover:bg-stone-700 px-3 py-2 text-md font-bold text-stone-200 hover:text-white"
              >Packs</a
            >
            <a
              href="#"
              class="rounded-md hover:bg-stone-700 px-3 py-2 text-md font-bold text-stone-200 hover:text-white"
              >Accesorios</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
