---

---

<div id="accesories" class="bg-stone-100">
  <div class="mx-auto max-w-7xl py-24 ">
    <section>
      <img
        class="hover:cursor-pointer transition-transform duration-400 hover:scale-105"
        src="/lost-offer.webp"
        alt="lost offer"
      />
    </section>
  </div>
</div>
